@charset "UTF-8";
/* CSS Document */
body{
	margin: 0;
	color: #333;
	background-attachment: fixed;
	background-image: url(hero.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	font-family: "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", Verdana, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.6px;
	background-position: center;
}
h1{
	font-size: 24px;
	font-weight: 100;
	color: #333;
}
h2{
	font-size: 18px;
	font-weight: normal;
	font-family: "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
	color: #999;
}
hr{
	border-top: 1px dashed #bbb;
}
div{
	margin: 0 auto;
	width: 85%;
	line-height: 2em;
	}
div.info-main{
	background: rgba(255,255,255,0.8);
	}
dt{
	line-height: 1.5em;
	font-weight: normal;
	background-color: #999999;
	letter-spacing: 0.3em;
	padding: 15px;
	color: #FFF;
	margin-top: 15px;
	margin-bottom: 5px;
}
